<footer class="xpenses-footer">
    <div class="xpenses-footer-links">
      <div class="xpenses-footer-column">
        <div class="footer-brand">
          <img src="{{ '/assets/img/piggy2.png' | relative_url }}" alt="Xpenses Piggy" class="footer-piggy">
          <span class="footer-brand-name">Xpenses</span>
        </div>
        <div class="footer-brand-description">Made with ❤️ by <a href="https://puppybyte.dev">PuppyByte</a></div>
        <div class="footer-social-links">
          <a href="https://instagram.com/puppybyte.dev">
            <img src="{{ '/assets/img/insta.png' | relative_url }}" alt="Instagram" class="footer-icon">
          </a>
          <a href="#" class="contact-link">
            <img src="{{ '/assets/img/mail.png' | relative_url }}" alt="Contact" class="footer-icon-short">
          </a>
        </div>
      </div>
      <div class="xpenses-footer-column">
        <h4>Xpenses</h4>
        <a href="/xpenses/#features">Features</a>
        <a href="/xpenses/#pricing">Pricing</a>
        <a href="/xpenses/blog">Blog</a>
      </div>
      <div class="xpenses-footer-column">
        <h4>Support</h4>
        <a href="#" class="contact-link">Contact Us</a>
      </div>
      <div class="xpenses-footer-column">
        <h4>Resources</h4>
        <a href="/xpenses/about">About Us</a>
        <a href="/xpenses/terms">Terms of Use</a>
        <a href="/xpenses/privacy">Privacy Policy</a>
      </div>
    </div>
    <div class="xpenses-footer-bottom">
      <p class="xpenses-copyright">
        &copy; {{ site.time | date: '%Y' }} PuppyByte — All Rights Reserved
      </p>
    </div>
  </footer>
